# Fierce Research Equity Model (FREM)

Theory: 
- The academic finance literature includes numerous papers on factor premia that can be captured by equity investors. Momentum, liquidity and volatility are factors that have demonstrated to influence the future return of a security. Therefore, based on the following inputs, the objective is to determine if the price of a particular security will be higher or lower than it is today in 10, 50, 100 and 250 days from today.

Thesis:
- Classification Problem: Will stock be higher or lower in N days from now based on the following features?

Raw Input:
- Close Price
- N-day average daily volume

Custom Features that I will need to create:
- N-day % price change
- N-day stock price return
- N-day stock price volatility
- % from 52-week high

Data Source Info:
- Dividend and split-adjusted

Universe: I intend to run the model on the Nasdaq 100, TSX 300, and the S&P 500.

Backtest Period Jan 2007 to Dec 2013 | Optimization Jan 2014 to Dec 2017 | Out of Sample Jan 2018 to June 2020

#### Import Packages

In [1]:
import numpy as np
import pandas as pd
import sklearn as sk

#Charting
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn')

#Ignore Warnings
import warnings 
warnings.filterwarnings('ignore')

#### Import App Key

In [2]:
import eikon as tr
tr.set_app_key('AppKey')

In [3]:
start_date = '-700'
end_date = '0'
df1, e= tr.get_data(['0#.NDX'],['tr.closeprice.date','tr.priceclose','tr.volume'],
                       {'SDate':start_date,'EDate':end_date,'Frq':'w'})

#### Set Date To Index & Format Columns

In [4]:
df1['Date'] = pd.to_datetime(df1['Date'])
df1.set_index('Date', inplace=True) 
df1.index = df1.index.map(lambda t: t.strftime('%Y-%m-%d')) 
df1.columns = map(str.lower, df1.columns)

#### Data Format

In [5]:
df1.shape

(72203, 3)

In [6]:
df1 = df1.round(2)

In [7]:
df1 = df1.dropna()

In [8]:
df1

           instrument  price close   volume
Date
2007-01-19    INCY.OQ         7.16   252764
2007-01-26    INCY.OQ         7.31   238010
2007-02-02    INCY.OQ         7.58   303320
2007-02-09    INCY.OQ         7.22   386669
2007-02-16    INCY.OQ         6.89   567926
...               ...          ...      ...
2020-05-22    VRTX.OQ       284.96   315839
2020-05-29    VRTX.OQ       287.96  3672201
2020-06-05    VRTX.OQ       265.69  1127044
2020-06-12    VRTX.OQ       268.56   651813
2020-06-19    VRTX.OQ       293.27  2434452

[65849 rows x 3 columns]

In [9]:
df1.isnull().sum()

instrument     0
price close    0
volume         0
dtype: int64

#### Features

#### Split Dataset

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html

#### Model Selection

- SVM
- Gradient Boosting